@model ForumModel
@{
    ViewBag.Title = "New Forum";
    ViewBag.Heading = "Forums";
    ViewBag.SubHeading = "Manage Forums";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col-lg-6">
    <div class="row">
        <div class="bg-dark shadow">

        </div>
    </div>
</div>
