@model IEnumerable<UserModel>
@{
    ViewBag.Title = "Mentees";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Heading = "Mentees";
    ViewBag.SubHeading = "Manage Mentees";
    var rowCount = 1;
}


<div class="col-lg-9 mt-3 animated fadeIn">
    <div class="container-fluid bg-light p-2 shadow">
        @if (Model.Any())
        {

            <table class="table table-hover table-bordered table-responsive-sm" id="users">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Manage</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var mentee in Model)
                    {
                        <tr>
                            <th scope="row">@rowCount</th>
                            <td>@mentee.FirstName</td>
                            <td>@mentee.LastName</td>
                            <td><a href="mailto:@mentee.Email" class="text-muted">@mentee.Email</a></td>
                            <td>
                                <a href="#" class="badge badge-danger mr-2 p-1 js-delete-user" title="delete" data-toggle="modal" data-target="#confirmModal">
                                    <i class="fa fa-lg fa-trash"></i>
                                </a>
                                <a href="#" class="badge badge-dark">Make Facilitator</a>
                            </td>
                        </tr>
                        rowCount++;
                    }
                </tbody>

            </table>
        }
        else
        {
            <div class="alert alert-light h-50 shadow">
                <p class="text-center text-success">There are currently no Mentees.</p>
            </div>

        }
    </div>



</div>
<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel"><i class="fa fa-warning text-danger mr-2"></i>Remove User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               Are you sure you want to remove this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet" />
@section Scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#users').DataTable();
        });

            //$(".js-delete-user").on("click", function (e) {



            //});
    </script>
}
