@if (ViewBag.Success != null)
{
<div class="alert alert-success shadow alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    <small class="text-muted form-text text-center">@ViewBag.Success</small>
</div>
}

@if (ViewBag.Error != null)
{
<div class="alert alert-danger shadow alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    <small class="text-muted form-text text-center">@ViewBag.Error</small>
</div>
}