@model DashViewModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Heading = $"Hello {@User.Identity.Name}";
    ViewBag.SubHeading = "What would you like to do today?";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--Thought section-->
<div class="col-lg-2">
    <div class="bg-info p-3 shadow rounded-bottom">
        <p class="text-white lead"><em>Today's thoughts</em></p>
        <hr class="">
        <p class="text-white">We believe we are taking over and we act accordingly.</p>

    </div>
</div>

<div class="col-lg-8 p-3 shadow bg-white rounded-bottom animated fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 mr-lg-4 p-2 bg-dark shadow-sm rounded" style="height:230px;">
                <div class="shadow-sm p-3">
                    <div class="mr-4" style="display: inline-block;">
                        <i class="fa fa-2x fa-users text-danger"></i>
                    </div>
                    <div class="" style="display: inline-block;">
                        <p class="text-muted">
                            Mentees<br>
                            <span class="text-danger">10</span>
                        </p>

                    </div>
                </div>              


                <div class="mt-2 shadow-sm p-3">
                    <div class="mr-4" style="display: inline-block;">
                        <i class="fa fa-2x fa-bullhorn text-gold"></i>
                    </div>
                    <div class="" style="display: inline-block;">
                        <p class="text-muted">
                            Forums<br>
                            <span class="text-gold">100</span>
                        </p>

                    </div>
                </div>
            </div>

            <!--Todo section-->
            @{
                Html.RenderPartial("~/Views/Shared/_Todos.cshtml", Model.TodoModel);

            }

        </div>


    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/custom.js"></script>

}

