@model UserModel
@{
    ViewBag.Title = "Profile";
    ViewBag.Heading = Model.FullName;
    ViewBag.SubHeading = "Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="alert alert-light alert-dismissible">
    <p>Hello @Model.FirstName</p>
</div>

