
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the beginning of nothingness</h2>
<p>@User.Identity.IsAuthenticated</p>
<a href="@Url.Action("logout","account")" class="btn btn-warning">Logout</a>
